POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=tickets
POSTGRES_PASSWORD=tickets
POSTGRES_DB=tickets

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=cola_tickets
RABBITMQ_DLQ=cola_tickets_dlq

MAX_RETRIES=3
BATCH_SIZE=10

AWS_REGION=eu-east-1
AWS_LAMBDA_FUNCTION_NAME=sd-task2-worker
MAX_INVOCATIONS=10
