POSTGRES_HOST=<IP_PRIVADA_O_PUBLICA_POSTGRES>
POSTGRES_PORT=5432
POSTGRES_USER=tickets
POSTGRES_PASSWORD=tickets
POSTGRES_DB=tickets

RABBITMQ_HOST=<IP_PRIVADA_O_PUBLICA_RABBITMQ>
RABBITMQ_PORT=5672
RABBITMQ_USER=tickets
RABBITMQ_PASS=tickets123
RABBITMQ_QUEUE=cola_tickets
RABBITMQ_DLQ=cola_tickets_dlq

MAX_RETRIES=3
BATCH_SIZE=10
MAX_INVOCATIONS=10

AWS_REGION=eu-east-1
AWS_LAMBDA_FUNCTION_NAME=sd-task2-worker
